@using QLNhaSachFahasa.Resources
@*<div id="infoCustomerBox"></div>*@
<div id="orderBox"></div>
<script type="text/x-kendo-template" id="templateInfoCustomerOrder">
    <div class="header-box-order pt-0">
        @Html.Raw(ViewText.TITLE_ADDRESS_ORDER)
        
    </div>
    <div class="info-orderer">
        <a href="javascript:void(0)" class="link-edit-info" onclick="fnPopupUpdateInfo()">@Html.Raw(ViewText.LINK_UPDATE_INFO)</a>
        <div class="row">
            <div class="col-12 checkout-summary-label">
                @Html.Raw(ViewText.TITLE_NAME): <span class="info-orderer-value">#:Name||"@Html.Raw(ViewText.TITLE_DATA_NOT_FOUND)"#</span>
            </div>
            <div class="col-12 checkout-summary-label">
                @Html.Raw(ViewText.TITLE_PHONE): <span class="info-orderer-value">#:PhoneNumber||"@Html.Raw(ViewText.TITLE_DATA_NOT_FOUND)"#</span>
            </div>
            <div class="col-12 checkout-summary-label">
                @Html.Raw(ViewText.TITLE_EMAIL): <span class="info-orderer-value">#:Email||"@Html.Raw(ViewText.TITLE_DATA_NOT_FOUND)"#</span>
            </div>
            <div class="col-12 checkout-summary-label d-flex">
                @Html.Raw(ViewText.TITLE_ADDRESS): <span class="@*location-value*@ info-orderer-value ml-1">#:Address||"@Html.Raw(ViewText.TITLE_DATA_NOT_FOUND)"#</span>
            </div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="templateOrderBox">
    <div class="header-box-order">
        @Html.Raw(ViewText.TITLE_INFO_ORDER)
    </div>
    <div class="content-box-order">
        <div class="row">
            <div class="col-6 checkout-summary-label">
                @Html.Raw(ViewText.TITLE_PROVISIONAL)
            </div>
            <div class="col-6 checkout-summary-value">
                #:kendo.toString(Provisional,"n0")# @Html.Raw(ViewText.VND)
            </div>
            <div class="col-6 checkout-summary-label">
                @Html.Raw(ViewText.TITLE_DELIVERY_CHARGES)
            </div>
            <div class="col-6 checkout-summary-value">
                #:kendo.toString(DeliveryCharges,"n0")# @Html.Raw(ViewText.VND)
            </div>
            <div class="col-6 checkout-order-total-title">
                @Html.Raw(ViewText.TITLE_TOTAL)
            </div>
            <div class="col-6 checkout-total-order">
                #:kendo.toString(Total,"n0")# @Html.Raw(ViewText.VND)
                <small class="checkout-order-total-fee-tip">@Html.Raw(ViewText.NOTE_VAT)</small>
            </div>

        </div>
        @*<button type="button" class="btn btn-submit-order" onclick="fnSaveOrder()">@Html.Raw(ViewText.BUTTON_CART_CONFIRM)</button>*@
        <a href="@Url.Action("ProcessOrder","Cart")" class="btn btn-submit-order" >@Html.Raw(ViewText.Button_Proceed_Order)</a>
    </div>
</script>
<script>
    //templateInfoOrder();
    templateProductOrder();
    function templateInfoOrder() {
        $.ajax({
            url: '@Url.Action("GetDataInfoCustomerOrder", "Cart")',
            dataType: "json",
            type: "POST",
            success: function (result) {
                var templateOrder = kendo.template($("#templateInfoCustomerOrder").html());
                $("#infoCustomerBox").html(templateOrder(result));
            },
        });
    }
    function templateProductOrder() {
        $.ajax({
            url: '@Url.Action("GetDataOrderBox", "Cart")',
            dataType: "json",
            type: "POST",
            success: function (result) {
                var templateOrder = kendo.template($("#templateOrderBox").html());
                $("#orderBox").html(templateOrder(result));
            },
        });
    }

    $('.btn-submit-order').click

    $('.btn-submit-order').click(function () {
        var oldValu = input = spinner.parent().find('input[type="number"]');
            console.log(oldValu);
    })
    
</script>
