@using QLNhaSachFahasa.Resources
@{
    ViewBag.Title = "FAHASA - " + ViewText.Title_Process_Order;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var info = (QLNhaSachFahasa.Models.InfoOrderModel)Session[QLNhaSachFahasa.Common.CartSession.OrderSesstion];
    var session = (QLNhaSachFahasa.Common.UserLogin)Session[QLNhaSachFahasa.Common.CommonConstants.USER_SEESION];
}
<div class="container mt-4">

    <div class="w-100">
        <nav id="stepper"></nav>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="header-box-order pt-0 mt-4">
                1. @Html.Raw(ViewText.TITLE_ADDRESS_ORDER)
            </div>

            <div class="location-order">
                <a href="javascript:void(0)" onclick="fnPopupUpdateInfo()">@ViewText.LINK_UPDATE_INFO</a>
                <div id="infoCustomerBox" class="@((info == null && session== null)?"d-none":"" )"></div>
                <ul>
                    <li>@ViewText.Text_Member <a href="javascript:void(0)" onclick="fnOpenLogin()">@Html.Raw(ViewText.Text_Login_Now)</a></li>
                    <li>  @ViewText.Register_member <a href="javascript:void(0)" onclick="fnOpenRegister()">  @Html.Raw(ViewText.LABLE_REGISTER)</a></li>
                </ul>
            </div>

            <script type="text/x-kendo-template" id="templateInfoCustomerOrder">
                <div class="info-orderer">
                    @*<a href="javascript:void(0)" class="link-edit-info" onclick="fnPopupUpdateInfo()">@Html.Raw(ViewText.LINK_UPDATE_INFO)</a>*@
                    <div class="row">
                        <div class="col-12 checkout-summary-label">
                            @Html.Raw(ViewText.TITLE_NAME): <span class="info-orderer-value">#:Name||"..."#</span>
                        </div>
                        <div class="col-12 checkout-summary-label">
                            @Html.Raw(ViewText.TITLE_PHONE): <span class="info-orderer-value">#:PhoneNumber||"..."#</span>
                        </div>
                        <div class="col-12 checkout-summary-label">
                            @Html.Raw(ViewText.TITLE_EMAIL): <span class="info-orderer-value">#:Email||"..."#</span>
                        </div>
                        <div class="col-12 checkout-summary-label d-flex">
                            @Html.Raw(ViewText.TITLE_ADDRESS): <span class="@*location-value*@ info-orderer-value ml-1">#:Address||"..."#</span>
                        </div>
                    </div>
                </div>
            </script>
        </div>
        <div class="col-md-6">
            <div class="header-box-order pt-0 mt-4">
                2. @Html.Raw(ViewText.Title_Payments)
            </div>
            <div class="Payment-order">
                <ul>
                    <li>
                        <input type="radio" name="Payment" id="payment1" value="0" class="k-radio radio-payment" checked="checked">
                        <label class="k-radio-label" for="payment1">Thanh toán tiền mặt khi nhận hàng</label>
                    </li>
                </ul>


            </div>
        </div>
    </div>


    <div class="w-100 text-center mt-4">
        <a class="payment-paypal d-none ml-4" href="@Url.Action("PaymentWithPaypal","Paypal")" title="Pay with Paypal Account"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" width="150px" /></a>
        <button type="button" class="btn btn-save-order" onclick="fnSaveOrder()">@ViewText.BUTTON_CART_CONFIRM</button>
    </div>
    <div id="popupUpdateInfo">
        <div id="contentUpdateInfo"></div>
    </div>
</div>
@*<div id="dialog"></div>*@
@section scripts{
    <script>
        var selected = "0";
        $("#payment1").on("click", function () {
            selected = $("input[type='radio'][name='Payment']:checked").val();
            console.log(selected);
        });
        $("#payment2").on("click", function () {
            selected = $("input[type='radio'][name='Payment']:checked").val();
            console.log(selected);
        });
        $("#payment3").on("click", function () {
            selected = $("input[type='radio'][name='Payment']:checked").val();
            console.log(selected);
        });
         templateInfoOrder();
        function templateInfoOrder() {
            $.ajax({
                url: '@Url.Action("GetDataInfoCustomerOrder", "Cart")',
                dataType: "json",
                type: "POST",
                success: function (result) {
                    var templateOrder = kendo.template($("#templateInfoCustomerOrder").html());
                    $("#infoCustomerBox").html(templateOrder(result));
                },
            });
        }
        $("#card-expiry-date").kendoDateInput({
            format: "MM/yyyy",
            min: Date()

        });
        $("#payment1").click(function () {
            $(".virtual-credit-card").addClass("d-none");
            $(".btn-save-order").removeClass("d-none");
            $(".payment-paypal").addClass("d-none");
            $(".virtual-atm-card").addClass("d-none");
        })
        $("#payment2").click(function () {
            $(".virtual-credit-card").removeClass("d-none");
            $(".payment-paypal").removeClass("d-none");
            $(".btn-save-order").addClass("d-none");
            $(".virtual-atm-card").addClass("d-none");
        })
        $("#payment3").click(function () {
            $(".virtual-credit-card").addClass("d-none");
            $(".btn-save-order").removeClass("d-none");
            $(".virtual-atm-card").removeClass("d-none");
            $(".payment-paypal").addClass("d-none");
        })
        //$("#payment4").click(function () {
        //    $(".virtual-credit-card").addClass("d-none");
        //    $(".btn-save-order").removeClass("d-none");
        //    $(".payment-paypal").addClass("d-none");
        //})
        $("#popupUpdateInfo").kendoWindow({
            title: "@Html.Raw(ViewText.TITLE_UPDATE_INFO_CUSTOMER)",
            visible: false,
            modal: true,
            maxHeight: 600,
            minWidth: 480,
            draggable: false,
            scrollable: false,
        });
        $("#stepper").kendoStepper({
            linear: false,
            steps: [{
                label: "@Html.Raw(ViewText.TITLE_CART)",
                icon: "k-icon k-i-cart"
            }, {
                label: "@Html.Raw(ViewText.Title_Personal_info)",
                icon: "dictionary-add",
                selected: true
            }, {
                label: "@Html.Raw(ViewText.Titile_Comfirm)",
                icon: "k-icon k-i-check",
            }]
        });
        function fnPopupUpdateInfo() {
            $('#contentUpdateInfo').load("/Cart/UpdateInfoOrderView", function () {
                $("#popupUpdateInfo").data("kendoWindow").center().open().element.closest(".k-window").css({ top: 70});
            });
        }
        //function submit update info cart
        function fnSubmitUpdate() {
            initValidForm();
            var formUpdate = $("#frmInfoCustomer");
            if (formUpdate.valid()) {
                $.ajax({
                    url: "/Cart/UpdateInfo",
                    data: formUpdate.serialize(),
                    dataType: "json",
                    beforeSend: function () {
                        $(".loading").show();
                    },
                    success: function (res) {
                        if (res == 1) {
                            $("#infoCustomerBox").removeClass("d-none");
                            templateInfoOrder();
                            $("#popupUpdateInfo").data("kendoWindow").close();
                        }
                        if(res==-1){
                            initDialog("@Html.Raw(ViewText.Title_Notification)", "@Html.Raw(ViewText.Exist_Email)", "@Html.Raw(ViewText.Button_Close)");
                        }

                    },
                    complete: function () {
                        $(".loading").hide();
                    }
                })
            }
        }
        function fnSaveOrder() {
            if (selected == 0) {
                $.ajax({
                    url: '@Url.Action("SaveOrder", "Cart")',
                    dataType: "json",
                    success: function (result) {
                        //fnGetDataListCart();
                        //initDialog("Thông báo", result, "Close");
                        if (result.message == 1) {
                        @*initDialog("@Html.Raw(ViewText.Title_Notification)", "@Html.Raw(ViewText.Message_order_success)", "@Html.Raw(ViewText.Button_Close)");*@
                            @*window.location.href = "@Url.Action("Index","Home")";*@
                            window.location.href = "/Cart/OrderSuccess?id=" + result.ID;
                        }
                        if (result.message == 0) {
                            initDialog("@Html.Raw(ViewText.Title_Notification)", "@Html.Raw(ViewText.Message_update_infor_order)", "@Html.Raw(ViewText.Button_Close)");
                        }
                    },
                    error: function (res) {
                        initDialog("Thông báo", "Thất bại", "Close");
                    }
                });
            } else if (selected == 2) {
                //Thanh toán vnpay
                 $.ajax({
                    url: '@Url.Action("SaveOrder", "VNPay")',
                    dataType: "json",
                    success: function (result) {
                        //fnGetDataListCart();
                        //initDialog("Thông báo", result, "Close");
                        if (result == 1) {
                            location.href="@Url.Action("PaymentByVNPay","VNPay")";
                        }
                        if (result == 0) {
                            initDialog("@Html.Raw(ViewText.Title_Notification)", "@Html.Raw(ViewText.Message_update_infor_order)", "@Html.Raw(ViewText.Button_Close)");
                        }
                    },
                    error: function (res) {
                        initDialog("Thông báo", "Thất bại", "Close");
                    }
                });
            }
        }
    </script>
}